:root {
    --base-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    --main-brown: #332a2a;
    --dark-browm: #1e1919;
    --white: #d5c9c9;
    --plase-holder: #d5c9c9;
    --buttons-color: rgba(255, 255, 255, 0.44);

}

/* dark theme */
.dark-mode {
    --base-color: linear-gradient(135deg, #000 0%, #212121 100%);
    --main-brown: #fff;
    --dark-browm: #fff;
    --white: #d9cdcd;
    --plase-holder: #000;
    --buttons-color: rgba(255, 255, 255, 0.44);
}


body {
    background-image: var(--base-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.full-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.typewriter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 1.5s steps(8, end), blink .90s step-end infinite;
    white-space: nowrap;
    font-size: 10rem;
    font-weight: 400;
    border-right: 4px solid var(--main-brown);
    box-sizing: border-box;
    margin-bottom: 40px;
    color: var(--dark-browm);
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: var(--main-brown);
    }
}

.add-task input {
    all: unset;
}

.add-task button {
    all: unset;
}

.add-task input {
    width: 75%;
    border: 1px var(--main-brown) solid;
    border-radius: 20px 0 0 20px;
    color: var(--plase-holder);
    background-color: var(--main-brown);
    height: 3vh;
    padding: 0 20px;
}

.add-task button {
    border: 1px var(--main-brown) solid;
    border-radius: 0 20px 20px 0;
    height: 3vh;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: var(--dark-browm);
}

.add-task button:hover {
    background-color: var(--buttons-color);
}

.add-task {
    display: flex;
    justify-content: center;
}

#clock {
    color: var(--main-brown);
    display: flex;
    justify-content: center;
    height: 5vh;
    align-items: center;
}

.task-collection {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    height: auto;
    padding: 0 50px;
}

.task {
    display: flex;
    border: 3px var(--buttons-color) solid;
    padding: 10px 20px;
    width: 60%;
    justify-content: space-between;
    border-radius: 50px;
    background-color: var(--main-brown);
    color: var(--plase-holder);
    flex-wrap: wrap;
    align-items: center;

}

.completed span {
    text-decoration: line-through;
    opacity: 0.8;
}

.main-buttom img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dark-theme-button {
    position: fixed;
    display: flex;
    height: 15vh;
    justify-content: end;
    align-items: center;
    width: 90%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--buttons-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

input:checked + .slider {
    background-color: var(--main-brown);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-brown);
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-theme {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

/*.change-my-color {*/
/*    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);*/
/*}*/

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-browm);
    position: fixed;
    top: 50px;
    right: 50px;
}

#theme-switch svg:last-child{
    display: none;
}

.dark-mode #theme-switch svg:first-child{
    display: none;
}

.dark-mode #theme-switch svg:last-child{
    display: block;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);

}

.dark-mode .change-my-color {
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);
}